@charset "UTF-8";

body{
	padding: 0;
	margin: 0;
}

.top {
	width: 100vw;
	height: 100vh;
	background: center no-repeat ;
	background-image: url('../pic/toxlogo1.png'), linear-gradient(#0085D1, #ED73FF);
	background-size: contain;
}
.title {
	margin: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.pages {
	padding: 0;
	margin: 0;
}
.page {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	
	-webkit-display: flex;
    -webkit-justify-content: center;
	-webkit-align-items: center;
	display: flex;
    justify-content: center;
    align-items: center;
}
.page > img {
	width: 100%;
	max-width: 141.4vh;
}

.loading {
	margin: 30px;
	text-align: center;
}
.next {
	margin: 30px;
	text-align: center;
}
